body{
    overflow-x: hidden;
}

.desc{
    padding: 15em 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-image: url(assets/laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.desc p{
    font-size: 20px;
    color: white;
    text-shadow: 2px 1px black;
}
.desc h1, h3{
    font-size: 30px;
    color: white;
    text-shadow: 2px 1px black;
}

.liveservice{
    border: none;
    cursor: pointer;    
    text-decoration: none;
    background-color: black;
    color: white;
    border: 3px black solid;
    padding: 10px;
    border-radius: 10px;
    margin: 4px 2px;
    transition: 1s;
}
.liveservice:hover{
background-color: white;
color: black;
}
